@charset "utf-8";
/* ------- This is the CSS Reset ------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* ------- HTML5 display-role reset for older browsers ------- */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* { margin:0; padding:0; }
html{min-height: 100%;}
body {
    color: #fff;
    height:100%;
    width:100%;
	font-family:Microsoft YaHei,Arial,Verdana,sans-serif;

background: -ms-linear-gradient(top, #2C619A,  #144171); 
background: -moz-linear-gradient(top,#2C619A,#144171);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2C619A), to(#144171));    
background: -webkit-linear-gradient(top, #2C619A, #144171);
background: -o-linear-gradient(top, #2C619A, #144171); 
}
img { border:none; }
form{position: relative;}
form,input,button{font-family:Microsoft YaHei,Arial,Verdana,sans-serif; text-decoration:none;}
a,input,button{outline:none !important;}
input:-moz-placeholder { color: #888; }
input:-ms-input-placeholder { color: #888; }
input::-webkit-input-placeholder { color: #888; }
input:focus {
    outline: none;
    border: 1px solid #999;
}

button:hover {
    -moz-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow:
        0 15px 30px 0 rgba(255,255,255,.15) inset,
        0 2px 7px 0 rgba(0,0,0,.2);
}
.form-control {
    padding: 6px 10px;
    border: 1px solid #ccc;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.container{width:600px;margin:0 auto;position: relative;}

/*------------// layout //------------------*/
.login-top{height:225px;width:100%;}
.login-con{border:1px solid #5489bc;outline: 1px solid #001f42;box-shadow: 1px 1px 15px #333;
background: -ms-linear-gradient(top, #3d628b 0%,#134070 25%, #103967 50%,#18416F 95%,#183B63 100%); 
background: -moz-linear-gradient(top, #3d628b 0%,#134070 25%, #103967 50%,#18416F 95%,#183B63 100%);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3F7BB4), to(#012246));    
background: -webkit-linear-gradient(top, #3d628b 0%,#134070 25%, #103967 50%,#18416F 95%,#183B63 100%);
background: -o-linear-gradient(top, #3d628b 0%,#134070 25%, #103967 50%,#18416F 95%,#183B63 100%); }
.login-box{padding: 2px 0 50px;}
.login-tit {font-size: 30px;text-shadow: 0 1px 4px rgba(0,0,0,.2);font-family:"黑体";text-align: center;color:#E6F4FF;border-bottom:1px solid #001f42;line-height: 70px; 
    background:-webkit-repeating-linear-gradient(-90deg, #fff, #E6F4FF 30px, #fff 60px);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;}
.login-tit:after{border-bottom:1px solid #5489bc;content: ' ';display: block;}
.login-box .container:after{content: '';display: block;background: url(../img/b-bg.png) no-repeat top center;min-height: 75px;margin-top:15px;}
.login-box .container .logo{position: absolute;left:10%;top:30%;}
.login-box .container .logo:after{content: '';display: block;background: url(../img/icon-2.png) no-repeat top center;min-height: 50px;}
.login-form{width:300px;height:auto;margin-left:30%;padding:30px 50px 50px;}
.login-form .form-group{position: relative;margin-top:15px;display: table;width:100%;}
.login-form .form-group label{font-size: 13px;}
.login-form .form-control{width: 100%;height: 32px;box-sizing: border-box;display: table-cell;font-size:13px;color:#333;}
.login-form .remember-me {color:#fff;}
.login-form .remember-me input[type="checkbox"]{position: relative;top:2px;}
.login-form .lg-txt{display: table-cell;width:80px;height:30px;line-height: 30px;}
.login-form .lg-txt label{text-align-last: justify;text-align: justify;display: inline-block;width:55px;font-size:14px;}

.vcode-btn{background: none;border:0;cursor: pointer;font-size: 13px;display: table-cell;text-align: center;padding: 10px;}
.submit_button{ 
    width:100%;
    cursor: pointer;
    height: 40px;
    padding: 0;
    margin-top:15px;
    color: #D3EBFF;
    text-shadow: 0 -1px 0 #444444;
    border: none;
    font-size: 20px;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;

    background-color: #0383d3;
    background-image: linear-gradient(top, #0383d3 0%, #004c9b 100%);
    background-image: -o-linear-gradient(top, #0383d3 0%, #004c9b 100%);
    background-image: -moz-linear-gradient(top, #0383d3 0%, #004c9b 100%);
    background-image: -webkit-linear-gradient(top, #0383d3 0%, #004c9b 100%);
    background-image: -ms-linear-gradient(top, #0383d3 0%, #004c9b 100%);
}
.submit_button:hover{
    background: #004c9b ;
}
.error-tips{}
.error-tips .onError{color:red;background:#FFF4D8;padding: 5px;line-height: 16px;margin-top:5px;font-size:12px;display: block;}
footer{color:#fff;font-size: 12px;width:100%;padding: 80px 0 30px;}